.bills-wrapper {
  display: flex;

  .bills-content {
    display: flex;
    height: 100vh;
    width: 45rem;
    flex: 1;
    margin-left: 15.625rem;
    padding: 20px;
    border: 2px solid yellow;

    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
      flex-wrap: wrap;

      li {
        display: flex;
        flex-direction: column;
        font-size: 1vw;
        text-transform: capitalize;
        align-items: center;
        border: 2px solid whitesmoke;
        width: 20%;
      }
    }
  }
}
