.cart-wrapper {
  position: fixed;
  background-color: black;
  width: 80%; 
  height: 4rem;
  margin-left: 20%;
  justify-content: flex-end;
  display: flex;
 
  

  .cart-btn {
    width: 8%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em 1.5em 1.5em 1.5em;
    border: none;
    
    
    img {
     width: 100%;
    }
  }
}
