@use "./style.scss";

.homepage-wrapper {
  display: flex;

  .homepage {

    margin-left: 10rem;
    .dashboard {
      margin-left: 1.8rem;


      ul {
        display: flex;
        list-style: none;
        gap: 0.5rem;
        flex-wrap: wrap;

        li {
          display: flex;
          flex-direction: column;
          font-size: 0.8vw;
          text-transform: capitalize;
          align-items: center;
          border: 2px solid whitesmoke;

          flex: 0 0 18%;
          img {
            width: 100%;
            height: 6rem;
          }

          button {
            font-size: 1vw;
          }
        }
      }
    }
  }
}
