@use "./style.scss";

.homepage-wrapper {
  display: flex;

  .homepage {
    .dashboard {
      ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        flex-wrap: wrap;

        li {
          display: flex;
          flex-direction: column;
          font-size: 1vw;
          text-transform: capitalize;
          align-items: center;
          border: 2px solid whitesmoke;
          width: 20%;

          button{
            font-size: 1vw;
          }
        }
      }
    }
  }
}
