@use "./style.scss";

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  

  .login-header {
   
    position: relative;
    left: unset;
    text-align: center;
    font-size: (1.5rem, 4vw, 3rem);
    
  }

  h1 {
    position: fixed;
    left: 35rem;
    font-size: (1.5rem, 4vw, 3rem);
    padding: 1rem;
    background: linear-gradient(
      to right,
      #fc72ff,
      #8f68ff,
      #487bff,
      #8f68ff,
      #fc72ff
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
  }
  @keyframes animate-gradient {
    to {
      background-position: 200%;
    }
  }
}
