@use "./style.scss";

.login-wrapper {
  display: flex;
  justify-content: center;

  .loginform-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid style.$color-whitesmoke;
    border-radius: 1em;

    h1 {
      padding-top: 0.5em;
      display: flex;
      font-size: 2.5vw;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        to right,
        #fc72ff,
        #8f68ff,
        #487bff,
        #8f68ff,
        #fc72ff
      );
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate-gradient 2.5s linear infinite;
    }
    @keyframes animate-gradient {
      to {
        background-position: 200%;
      }
    }

    .input-box {
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      justify-content: center;
      align-items: center;
    }

    .input-box input {
      border-radius: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5vw;
      padding: 0 2em;

      &::placeholder {
        font-size: 1.2vw;
      }
    }

    .input-wrapper {
      display: flex;
      align-items: center;

      .eye-password {
      
      }

      input {
        &::placeholder {
          font-size: small;
          opacity: 80%;
        }
      }
    }

    .input-box .input-wrapper img {
      width: 3%;
      font-size: 1.5vw;
      position: absolute;
      left: 9em;
    }

    label {
      color: style.$color-whitesmoke;
      font-size: 1.2vw;
      display: flex;
      accent-color: style.$color-whitesmoke;

      .checkbox {
        width: 1.3vw;
        accent-color: darkblue;
      }
    }

    a {
      color: style.$color-whitesmoke;
      text-decoration: underline;
      font-size: 1.2vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem 0 0.2rem 0;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: style.$color-darkblue;
        padding: 0 6em;
        border-radius: 1em;
        font-size: 1.2vw;
        margin-bottom: 0.3rem;
      }
    }
  }
}
